@model ExerciseFromVideos.Models.UsersModel
    @{ 
        Layout = "~/Views/Shared/ObshtoProbno.cshtml";
        ViewBag.Title = Model.Username;
    }
<h1>@ViewBag.Title</h1>
<p>@Model.Fullname is @Model.Age years old.</p>

@Test.MyMethod()



@section scripts {
    hui hui
    }

