@model ExerciseFromVideos.Models.ProfileTestViewModel
<div>
    This is display template for ProfileTestViewModel.
</div>
<div>
    <p>
        @Html.DisplayFor(m=>m.FirstName, new { something = 10})
    </p>
    <div>
        @Model.Age
    </div>
    <div>
        @Model.BirthDate
    </div>
</div>