@{
    Layout = "~/Views/Shared/ObshtoProbno.cshtml";
    ViewBag.Title = "About";
}
<h1>DIEA MAAA MU</h1>
@Html.TextBox("some text")

@Html.Action("MyPartial")

@section scripts{
    scriptuiiii mriptuiiii
    }